body {
  text-align: center;
  background-color: rgb(216, 169, 113)
}
h1 {
  background-color: rgb(74,63,35);
  color: rgb(222, 194, 138);
  font-size: 3em;
  padding-top:10px;
  padding-bottom: 10px
}
h2 {
  color: rgb(74,63,35);
}
table {
  width: 100%;
  border-spacing: 3px;
  border-collapse: separate;
}
tfoot {
  border-top: black 50px;
}
th {
  text-align: left;
  background-color: rgb(74,63,35);
  color:  rgb(222, 194, 138);
  padding: 5px;
}
td {
  background-color: rgb(222, 194, 138);
}