img {
  margin-bottom: 15px;
  height: 100%;
}
header {
  margin-bottom: 15px;
  text-align: center;
}
body {
  background-color: rgb(216, 169, 113)
}
main {
  margin: 20px;
}
h1 {
  background-color: rgb(74,63,35);
  color: rgb(222, 194, 138);
  font-size: 3em;
  padding-top:10px;
  padding-bottom: 10px;
  margin: 3px;
  margin-bottom: 0;
}
h2 {
  color: rgb(74,63,35);
  font-size: 2em;
  font-weight: bold;
  
}
table {
  width: 100%;
  border-spacing: 3px;
  border-collapse: separate;
}
tfoot {
  border-top: black 50px;
}
th {
  text-align: left;
  background-color: rgb(74,63,35);
  color:  rgb(222, 194, 138);
  padding: 5px;
}
td {
  background-color: rgb(222, 194, 138);
}
#img1{
  float: left;
  margin-right: 20px;
}
#img2 {
  float: right;
  margin-left: 10px;
}
#img3 {
  float: right;
  margin-left: 10px;
}
#img4 {
  float: left;
  margin-right: 10px;
}
#img5 {
  float: right;
  margin-left: 10px;
}
#img6 {
  float: left;
  margin-right: 10px;
}
p {
  font-size: 1.5em;
  line-height: 2em;
  color: rgb(74,63,35);
  text-indent: 30px;
  margin-bottom: 15px;
}
div {
  height: 200px;
  margin-bottom: 15px;
}
legend {
  font-weight: bold;
  margin-bottom: 10px;
}